<div class="container-fluid p-0">
  <div class="row m-0">
    <div  class="col-md-12 p-0">
      <div class="header">
        <p class="lead">LPS Studio is an open source project published under the BSD 3-Clause license, made possible thanks to the countless contributions of many others in the open source software community. </p>
        <p>Feel free to take a look at the source code and contribute to LPS Studio over at <a href="#" (click)="openLink($event, 'https://github.com/mauris/lps-studio')">Github</a>.</p>
      </div>
      <div class="license-item" *ngFor="let pair of licenses | mapToIterable">
        <div class="item-header" (click)="isShown[pair.key] = !isShown[pair.key]">
          {{pair.key}}: {{pair.val.license}}
        </div>
        <div class="item-source-text" *ngIf="isShown[pair.key]">
          <div *ngIf="pair.val.repository">
            Repository: <a href="#" (click)="openLink($event, pair.val.repository)">{{pair.val.repository}}</a>
          </div>
          <pre *ngIf="pair.val.sourceText">{{pair.val.sourceText}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
