html, body {
  height: 100%;
}

$consoleWidth: 320px;

app-root, app-home, .container-fluid, .row {
  height: 100%;
}

.timebar {
  height: 35px;
  border-bottom: 1px solid #ccc;
  background: #eee;
  padding: 2px;
  
  .timing {
    padding: 10px 4px;
    line-height: 2;
  }
  
  &.console-shown {
    margin-right: $consoleWidth;
  }
}

.statistics-view {
  z-index: 1000000;
  width: $consoleWidth;
  background:#444;
  position: absolute;
  top: 0;
  right: 0;
  
  .single-statistics-view {
    clear: both;
    margin: 2px;
  }
  
  .single-statistics-view {
    font-size: 8px;
    color:#CCC;
  }
  
  .single-statistics-number {
    float: left;
    color: #EEE;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    overflow:hidden;
  }
  
  .single-statistics-chart {
    height: 40px;
  }
  
  .single-statistics-bar-outer {
    float: left;
    margin: 1px;
    height: 40px;
    width: 5px;
    .single-statistics-bar-inner {
      width: 5px;
      
      &.bar-0 { background: rgba(120, 200, 120, 0.2); }
      &.bar-1 { background: rgba(120, 200, 120, 0.225); }
      &.bar-2 { background: rgba(120, 200, 120, 0.25); }
      &.bar-3 { background: rgba(120, 200, 120, 0.275); }
      &.bar-4 { background: rgba(120, 200, 120, 0.30); }
      &.bar-5 { background: rgba(120, 200, 120, 0.325); }
      &.bar-6 { background: rgba(120, 200, 120, 0.35); }
      &.bar-7 { background: rgba(120, 200, 120, 0.375); }
      &.bar-8 { background: rgba(120, 200, 120, 0.4); }
      &.bar-9 { background: rgba(120, 200, 120, 0.425); }
      &.bar-10 { background: rgba(120, 200, 120, 0.45); }
      &.bar-11 { background: rgba(120, 200, 120, 0.475); }
      &.bar-12 { background: rgba(120, 200, 120, 0.5); }
      &.bar-13 { background: rgba(120, 200, 120, 0.525); }
      &.bar-14 { background: rgba(120, 200, 120, 0.55); }
      &.bar-15 { background: rgba(120, 200, 120, 0.575); }
      &.bar-16 { background: rgba(120, 200, 120, 0.6); }
      &.bar-17 { background: rgba(120, 200, 120, 0.625); }
      &.bar-18 { background: rgba(120, 200, 120, 0.65); }
      &.bar-19 { background: rgba(120, 200, 120, 0.675); }
      &.bar-20 { background: rgba(120, 200, 120, 0.7); }
      &.bar-21 { background: rgba(120, 200, 120, 0.725); }
      &.bar-22 { background: rgba(120, 200, 120, 0.75); }
      &.bar-23 { background: rgba(120, 200, 120, 0.775); }
      &.bar-24 { background: rgba(120, 200, 120, 0.8); }
      &.bar-25 { background: rgba(120, 200, 120, 0.825); }
      &.bar-26 { background: rgba(120, 200, 120, 0.85); }
      &.bar-27 { background: rgba(120, 200, 120, 0.875); }
      &.bar-28 { background: rgba(120, 200, 120, 0.9); }
      &.bar-29 { background: rgba(120, 200, 120, 1); }
    }
  }
}

.console-view {
  right: 0;
  z-index: 100000;
  position: absolute;
  background: #fff;
  width: $consoleWidth;
  height: 100%;
  border-left: 1px solid #ccc;
  font-size: 12px;
  padding-bottom: 28px;
  
  .console-output {
    padding: 5px;
    height: 100%;
    font-family: 'Fira Mono', Consolas, monospace;
    overflow: auto;
  }

  .console-input {
    position:absolute;
    bottom: 0;
    z-index: 1000000;
    height: 32px;
    border-top: 1px solid #ccc;
    background: #FFF;
    width: 100%;
    
    input {
      border: none;
      width: 100%;
      margin: 5px 0;
      padding: 0 5px;
      
      &:focus {
        outline: none;
      }
    }
  }
}

.no-program-overlay {
  position: absolute;
  top: 60px;
  left: 0px;
  bottom:0px;
  right: 0px;
  &.console-shown {
    right: $consoleWidth;
  }
}

.console-output {
  color: #333;
  background: #efefef;
}

.dark-theme {
  .console-view {
    border-left: 1px solid #333;
    
    .console-output {
      background: #333;
      color: #efefef;
    }
  }
}
