<div class="container-fluid p-0 dark-theme">
  <div class="row m-0">
    <div class="console-view" [ngClass]="{'d-none': isConsoleHidden}">
      <div class="statistics-view" [ngClass]="{'d-none': isStatisticsHidden}">
        <div class="single-statistics-view" *ngFor="let statsKey of statisticsKeys">
          <div class="single-statistics-label">
            {{ statisticsLabel[statsKey] }}
          </div>
          <div class="single-statistics-number">
            {{ statistics[statsKey] }}
          </div>
          <div class="single-statistics-chart">
            <div
                class="single-statistics-bar-outer"
                *ngFor="let num of statisticsHistory[statsKey]; let i = index"
                [ngStyle]="{'padding-top.px': (1 - (num / statisticsHistoryMax[statsKey])) * 40}">
              <div class="single-statistics-bar-inner" [ngClass]="'bar-' + i" [ngStyle]="{'height.px': num / statisticsHistoryMax[statsKey] * 40}"></div>
            </div>
          </div>
        </div>
      </div> <!-- statistics-view -->
      <div class="console-output" #consoleOutput [ngStyle]="{'padding-top.px': isStatisticsHidden ? 0 : statisticsKeys.length * 55 }">
        <div #consoleOutputInner class="console-output-inner">
          <div *ngFor="let message of messages">
            <pre [innerHTML]="message | ansi"></pre>
          </div>
        </div>
      </div> <!-- console-output -->
      <div class="console-input">
        <input type="text" [(ngModel)]="consoleInput" (keypress)="consoleInputKeypress($event)" [disabled]="!isRunning" placeholder="Enter observations here...">
      </div>
    </div>  <!-- console-view -->
    <div class="col-md-12 p-0">
      <div class="timebar" [ngClass]="{'console-shown': !isConsoleHidden}">
        <div class="float-right">
          <div class="btn-group">
            <button class="btn btn-dark btn-sm" *ngIf="isRunning && !isPaused" (click)="requestPause()">
              <i class="fa fa-pause"></i>
            </button>
            <button class="btn btn-dark btn-sm" *ngIf="isRunning && isPaused" (click)="requestResume()">
              <i class="fa fa-play"></i>
            </button>
            <button class="btn btn-dark btn-sm" *ngIf="isRunning" (click)="requestStop()">
              <i class="fa fa-stop"></i>
            </button>
            <button class="btn btn-dark btn-sm" *ngIf="!isRunning" (click)="requestOpenFile()">
              <i class="fa fa-folder-open-o"></i>
            </button>
            <button class="btn btn-dark btn-sm" *ngIf="!isRunning && currentFile !== undefined" (click)="requestRestart()">
              <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-dark btn-sm" *ngIf="!isConsoleHidden" (click)="toggleStatisticsView()">
              <i class="fa fa-bar-chart"></i>
            </button>
            <button class="btn btn-dark btn-sm" (click)="toggleConsoleView()">
              <i class="fa fa-chevron-right" *ngIf="!isConsoleHidden"></i>
              <i class="fa fa-chevron-left" *ngIf="isConsoleHidden"></i>
            </button>
          </div>
          
        </div>
        <span class="timing">{{ currentTime }}</span>
      </div>
      <sandbox #sandbox id="sandbox" [isFrozen]="isPaused || !isRunning" (onMouse)="handleCanvasMouseEvent($event)" (ready)="handleCanvasReady()"></sandbox>

      <div class="no-program-overlay" *ngIf="currentFile === undefined" [ngClass]="{'console-shown': !isConsoleHidden}">
        <div  class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 p-0 col-lg-6 offset-lg-3">
          <img src="assets/lps-studio-illustration.png" class="img-fluid" alt="">
          <p class="text-center">{{ emptyCanvasMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
