/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

/* disable any drag dropping  */
*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
